.container {
  width: 100%;
  max-width: 46rem;
  margin: 6rem auto 0 auto;
  padding: 0 1rem;
}
.container header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.createdTasks, .concludedTasks {
  display: flex;
}

.createdTasks p {
  font-weight: 700;
  font-size: 0.875rem;
  margin-right: 1rem;
  color: var(--blue)
}

.concludedTasks p {
  font-weight: 700;
  font-size: 0.875rem;
  margin-right: 1rem;
  color: var(--purple)
}

.createdTasks span, 
.concludedTasks span {
  text-align: center;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  border-radius: 8px;
  font-weight: 700;
  color: var(--gray-100)
}

.noTasks {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  border-radius: 8px;
  border-top: solid 2px var(--gray-400);
}

.noTasks svg {
  color: var(--gray-400);
  margin-bottom: 1rem;
  margin-top: 4rem;
}